#sec1{
  text-align: center;
   padding: 50px;
	background-color:  #F8DC8D  ; 
	
	
}
#sec2{
	text-align: center;
	table-layout: center;
	padding: 50px;
	background-color: #AEF795   ;
     
}

#sec3{
    text-align: center;
    padding: 50px;
	background-color: #F9E984;

	
}
#sec4{
     text-align: center;
      padding: 50px;
	background-color: #ABF8F2  ;
	
}


